#about{
    padding-top: 20px;
    padding-bottom: 100px;
}

.skillsection-container{
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    padding-right: 20%;
    padding-left: 20%;
}

.skillsection-knowme{
    margin-right: 20%;
}

.skillsection-knowme p{
    font-size: 0.9vw;
}

.aboutme-short-desc{
    font-size: 1vw;
    text-align: center;
}

.skillsection-knowme h2, .skillsection-skills h2{
    margin-bottom: 20px;
    font-size: 1.7vw;
    color: black;
}

.skillsection-listedskills-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.listedskills{
    background-color: #e7e7e7;
    opacity: 0.95;
    padding: 10px 10px;
    letter-spacing: 1.1px;
    color: black;
    font-weight: 800;
    border-radius: 5px;
    margin-right: 10px;
}


.listedskills-container{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

.contact-button{
    margin: 20px auto;
    padding: 10px 40px;
    background-color: #7843e9;
    border: transparent;
    border-style: solid;
    border-radius: 5px;
    font-size: large;
    text-decoration: none;
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
}


@media screen and (max-width: 1000px) {
    .skillsection-container{
        flex-direction: column;
        padding: 50px 40px;
    }

    .skillsection-knowme p{
        font-size: 20px;
    }

    .skillsection-knowme {
        margin: auto;
    }

    .skillsection-knowme h2, .skillsection-skills h2{
        font-size: 25px;
    }

    .skillsection-knowme, .skillsection-skills{
        margin-right: 0%;
        margin-bottom: 20px;
        margin-top: 0;
    }

    .aboutme-short-desc{
        font-size: 16px;
    }
}