#about{
    padding-top: 50px;
    padding-bottom: 200px;
}

.skillsection-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 100px;
    padding-right: 20%;
    padding-left: 20%;
}

.skillsection-headers{
    font-size: 20px;
    color: #47b9a5;
}

.knowme{
    padding-right: 30%;
}

table{
    width:100%;
}

.listedskills{
    background-color: #2D3446;
    opacity: 0.4;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border-radius: 5px;
    margin-right: 10px;
}

.listedskills p{
    color: white;
}

.listedskills-container{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

th{
    text-align: left;
    margin-top: 20px;
}
