#contact{
    background-image: url("Images/White-background.jpg");
    padding-top: 10px;
    padding-bottom: 100px;
}

.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: none;
    align-items: center;
    justify-content: center;
    padding: 20px 100px;
    margin-top: 50px;
    max-width: 90vw;
    border-radius: 10px;
}

form h2{
    color: #7843e9;
    font-weight: 800;
    margin-bottom: 20px;
}

form button{
    margin-top: 30px;
    width: 100px;
    padding: 10px 30px;
    background-color: #7843e9;
    color: white;
    border-style: solid;
    border-radius: 5px;
    border-style: none;
}

form input, form textarea{
    width: 70vw;
    margin: 10px 0px;
    border: none;
    border-radius: 5px;
    height: 50px;
    padding-left: 10px;
    color: black;
}

form textarea{
    padding-top: 10px;
    height: 100px;
}

#contact-links{
    background-color: black;
    text-align: center;
}

.contact-links-container{
    padding-top: 50px;
    padding-bottom: 100px;
}

.contact-links-container h2{
    color: white;
    margin-bottom: 50px;
}

.contact-social-links a{
    padding: 0px 20px;
}

.contact-social-links img{
    width: 30px;
}