*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;   
    font-family: "Poppins", sans-serif;
}


@font-face {
    font-family: sourceCode;
    src: url(sourcefont.ttf);
}

.name-container h4 {
    color: #47b9a5;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 20px;
}

.name-container h1{
    font-size: 60px;
    color: #ccd6f6;
    margin-bottom: 20px;
}

.name-container p{
    font-size: 18px;
    color: #ccd6f6;
    opacity: 0.7;
    padding-top: 20px;
    margin-right: 50%;
}

.name-container{
    padding-top: 12%;
    padding-left: 15%;
    padding-right: 5%;
    background-color: transparent;
}

#home{
    position: relative;
    justify-content: start;
    height: 100vh;
}

.aboutme{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
    margin-top: 100px;
    margin-right: 30%;
}

.aboutline{
    height: 5px;

}

.aboutme h1, h3{
    padding-bottom: 20px;
}

.contact{
    margin-top: 10%;
    text-align: center;
}