#home {
    background-image: url("Images/White-background.jpg");
}

.name-container h4 {
    /* color: #7843e9; */
    font-size: 1.5vw;
    color: black;
    font-family: monospace;
    padding-bottom: 20px;
}

.name-container h1 {
    font-size: 3.5vw;
    /* color: #ccd6f6; */
    color: black;
    margin-bottom: 20px;
    font-family: NunitoSansBold;
    font-weight: bolder;
}

.name-tagline {
    font-size: 50px;
}

.name-container p {
    font-size: 1vw;
    color: black;
    opacity: 0.9;
    padding-top: 20px;
    margin-right: 50%;
}

.name-container {
    padding-top: 12%;
    padding-left: 15%;
    padding-right: 5%;
    background-color: transparent;
}

#home {
    position: relative;
    justify-content: start;
}

.aboutme-button {
    margin: 50px auto;
    padding: 10px 40px;
    background-color: #7843e9;
    border: transparent;
    border-style: solid;
    border-radius: 5px;
    font-size: large;
    text-decoration: none;
    font-family: monospace;
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 150px;
}

.resume{
    position: absolute;
    bottom: 80px;
    background-color: transparent;
    right: 45vw;
    width: 10vw;
    text-align: center;
}

.resume button{
    padding: 10px 45px;
    border-radius: 5px;
}

.contact {
    margin-top: 10%;
    text-align: center;
}

@media screen and (max-width : 900px) {
    .name-container h1 {
        font-size: 50px;
    }

    .name-container h4{
        font-size: 12px;
    }

    .name-container p {
        font-size: 15px;
    }

    .name-container p {
        margin-right: 30px;
    }

    .name-container {
        padding: 12% 20px;
        margin: none;
    }
}