#projects{
    padding-top: 50px;
}

.project-container{
    display: flex;
    flex-direction: row;
    padding-left: 15%;
    padding-right: 100px;
    align-items: start;
    justify-content: space-between;
}

.project-mobile-container{
    position: relative;
    margin-left: 5%;
    margin-right: 100px;
    width: 300px;
    height: 600px;
}

.project-mobile{
    width: 300px;
    position: absolute;
    top: 0;
    z-index: 10;
}

.project-mobile-photo{
    width: 270px;
    height: 550px;
    position: absolute;
    top: 20px;
    left: 13px;
    z-index: -1;
}

.project-description{
    margin-left: 20%;
    margin-top: 10px;
}

.project-description h1{
    font-size: x-large;
    margin-bottom: 20px;
}

.project-description-keywords{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.project-tags{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-left: 3px solid #47b9a5;
    border-radius: 5px;
    margin-right: 20px;
}

.project-description-link-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.project-description-link-buttons button{
    padding: 10px;
    width: 200px;
    background-color: transparent;
    border: 2px solid #47b9a5;
}

.project-description-link-buttons button:hover{
    cursor: pointer;
}
