body{
    /* background-color: #0f172a; */
    background-color: white;

}

@font-face {
    font-family: NunitoSans;
    src: url(Fonts/Nunito_Sans/static/NunitoSans_10pt-Light.ttf);
}

@font-face {
    font-family: NunitoSansBold;
    src: url(Fonts/Nunito_Sans/static/NunitoSans_10pt-ExtraBold.ttf);
}

html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}



section{
    scroll-snap-align: always;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;   
    font-family: NunitoSans, sans-serif;
}

p{
    font-weight: 800;
    opacity: 0.7;
    letter-spacing: 1.1px;
}

li{
    font-weight: 800;
    opacity: 0.7;
    letter-spacing: 1.1px;
    margin-bottom: 10px;
}
/*
background color: #0f172a
color: #7843e9 seagreen
textcolor: #ccd6f6
*/


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0px 10px 50px #a6a6a6;
    /* border-bottom: 2px solid #DDE6ED; */
    background-color: white;
}

.header img{
    width: 50px;
    border-radius: 50%;
    margin: 0px 0px;
}


.navbar a{
    position: relative;
    font-size: 20px;
    font-weight: 500;
    margin-left: 50px;
    border-bottom: none;
    text-decoration: none;
    transition: 0.4s;
    color: black;
}

.navbar a:hover{
    width: 100%;
    color: #7843e9;
}

.separationline{
    width: 100%;
    border-top: 1px solid white;
    display: none;
}

.sub-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
    margin-top: 100px;
    margin-right: 30%;
}

.sub-heading h1{
    letter-spacing: 2;
    font-size: 40px;
    padding-bottom: 20px;
}

.sub-heading-line{
    width: 80px;
    margin-bottom: 40px;
    border-top: 3px solid #7843e9;
}

button:hover{
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    
    .sub-heading h1{
        font-size: 25px;
    }

    .sub-heading-line{
        width: 60px;
    }

    .sub-heading{
        margin: 0px 40px;
    }

    .header{
        display: none;
    }
}