
.vl{
    width: 3px;
    background-image: linear-gradient( #EB455F, #2B3467);
    height: 200px;
}

.Welcomeh1{
    margin-top: 0%;
    font-size: 10rem;
    color: #FCFFE7;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 100;
    margin-bottom: 1%;
}

h2{
    font-size: 1.4rem;
    color: #FCFFE7;
    font-family: 'Montserrat', sans-serif;
    margin-right: 55%;
    font-weight: 100;
}

img{
    width: 30px;
    margin-right: 10px;
}


.VerticalSpacing{
    width: 25px;
    height: 180px;
}

.heading{
    padding-top: 10%;
    background-color: #2B2D2F;
    height: 100vh;
    padding-left: 5%;
    
}

.contactme{
    margin-top: 10%;
    text-align: center;
    color: #FCFFE7;
}

.contactmeicons{
    text-align: center;
}


html, body{
    text-align: left;
    background-blend-mode:overlay;
    margin: 0;
    background-color: #041C32;
    font-family: 'Sofia Sans', sans-serif;
}

h3{
    position: absolute;
    bottom: 2px;
    color: white;
}

a{
    text-align: center;
}